@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

html {
    font-family: 'Sono', sans-serif;
}


body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
    margin: 10px;
}

h1 {
    color: darkgreen;
}

footer {
    padding: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(128, 178, 53, 0.662);
    color: black
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: rgb(45, 67, 45);
}

nav > a {
    color: white
}

a {
    color: olivedrab;
    text-decoration: none;
}

a:hover {
    background-color: #AAD2BA;
    color: #4F6953;
    transition: width 2s, height 2s, background-color 1s, transform 1s;
}

.grid-of-recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

tbody tr:nth-child(even) {
	background-color: rgb(255, 242, 184);
}

div > img:hover {
    border-radius: 50%;
    box-shadow: 7px 5px 10px #b8dac4;
    transition: width 2s, height 2s, background-color 5s, transform 2s;
}
